body {
    font-family: "Poppins", sans-serif;
}

h2, h3 {
    color: #4715e2;
    font-size: 45px;
}

.home-container {
    padding: 20px; 
}

.right-aligned {
    text-align: right; 
}

.left-aligned {
    text-align: left; 
}

.text-box1 {
    font-size: 25px;
    text-align: right; 
    padding: 15px;
    margin: 0;
    margin-left: auto; 
    width: 80rem;
    height: auto; 
}

.text-box2 {
    font-size: 25px;
    text-align: left; 
    padding: 15px; 
    margin: 0; 
    width: 80rem;
    height: auto; 
}

/*Login*/

.login-container {
  width: 600px;
  margin: 100px auto;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

.password-container {
    display: flex;
    align-items: center;
  }

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

input:focus {
  outline: none;
  border-color: #4715E1;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #4715E1;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #e5ddff;
  color: #4715e2;
}

.show-password-btn {
    background: none;
    border: none;
    color: #4715E1;
    margin-left: 10px;
    cursor: pointer;
  }


/*Parenting*/


.parenting-container {
  padding: 20px;
  
}

.center-title {
  text-align: center;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; 
}

/* Gráfica */
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; 
  margin: 0 auto;
}

.centered-text {
  margin-bottom: 10px;
  text-align: center;
}

#chart {
  flex: 1;
}

/*Insights*/
.comments-section {
  flex: 1; 
  padding: 20px;
  border: 3px solid #ffc243;
  border-radius: 15px;
  background-color: #fff;
  font-size: 25px;
  width: 20rem; /* Ajusta el ancho */
}

.comments-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.comments-section li {
  padding: 10px 0;
  background-color: #ffc243;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  text-align: right;
}
