/* Estilos generales */
h2 {
  text-align: center;
  margin: 20px;
  font-size: 2.5rem; /* Ajustado para que sea responsive */
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 20px;
  border-radius: 15px;
  font-size: 20px;
}

select, input[type="datetime-local"], input[type="date"], input[type="time"] {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
}

/* Estilos para textarea */
textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
}

/* Estilo para los sliders */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}

/* Estilo para el thumb del slider */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #4715e2;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: #ccc;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb {
  background: #5f66cf;
}

/* Botón de envío */
.but {
  background-color: #4715e2;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.but:hover {
  background-color: #e5ddff;
  color: #4715e2;
}
